.container {
  text-align: center;
}

.form-content {
  display: inline-block;
  text-align: left;
  max-width: 50rem;
}

.form-content > h2 {
  font-size: 20px;
}

.form-content > p {
  font-size: 15px;
}
.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  font-weight: 600;
}
